*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 1005;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius:50% ;
    position: absolute;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    transition: all linear 0.2s;
    

}
h1{
    font-size: 180px;
    color: white;
}
